<div class="panel panel-default bg-auto">   
			<br>

			<div class="panel-body"> 
			<form class="form-horizontal" role="form" id="form-epi" ng-submit="onSubmit()">
			
					<img src="styles/images/bright.png " style="width: 100px;"><legend class="righter sublegendmenu">IMPIANTI DI ILLUMINAZIONE</legend>
			
										<div class="col-md-12">
														<div class="row clearfix">	
																<div class="col-md-3 column">
																	<label for="potenzaLux_Interna">Potenza Luce interna [kW]</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="potenzaLux_Interna" ng-model="moduloepi.datiedificio.potenzaLux_Interna" required>
																</div>		
																
																<div class="col-md-3 column">
																	<label for="potenzaLux_Esterna">Potenza Luce esterna [kW]</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="potenzaLux_Esterna" ng-model="moduloepi.datiedificio.potenzaLux_Esterna" required>
																</div>
																 
																<div class="col-md-3 column">
																	<label for="oremedieLux_Interna">Ore medie luce interna</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="oremedieLux_Interna" ng-model="moduloepi.datiedificio.oremedieLux_Interna" required>
																</div>		

																<div class="col-md-3 column">
																	<label for="oremedieLux_Esterna">Ore medie luce esterna</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="oremedieLux_Esterna" ng-model="moduloepi.datiedificio.oremedieLux_Esterna" required>
																</div>

														</div>
											</div>
											
											<div class="row clearfix"></div>	
											<br><br>
											
											<div class="col-md-12 column">
																		<center><button type="submit" class="span5 btn btn-md btn-success">Salva modifiche</button></center>																		
											</div>
			</form>
		</div>
</div>
