<div class="panel panel-default bg-auto">   
			<br>
            <div class="panel-body">      

					<form class="form-horizontal" role="form" id="form-epi" ng-submit="onSubmit()">
					
							<img src="styles/images/winter.png " style="width: 100px;"><legend class="righter sublegendmenu">IMPIANTI DI RISCALDAMENTO</legend>
							
							<div class="col-md-12">
								<legend class="righter sublegendmenu"> Caldaie</legend>
								
								<div class="col-md-12">
									<div class="row clearfix">
										<div class="col-md-4 column">															
											<label for="quotaCaldaie">Quota copertura fabbisogno caldaie [%]</label>												
											<input type="number" min="0" step="any" class="form-control" id="quotaCaldaie" ng-model="moduloepi.datiedificio.quotaCaldaie" required>
										</div>
										
										<div class="col-md-4 column">															
											<label for="potenza_Caldaia">Potenza nominale complessiva [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" id="potenza_Caldaia" ng-model="moduloepi.datiedificio.potenza_Caldaia" required>
										</div>
										
										<div class="col-md-4 column">															
											<label for="potenza_media_Caldaia">Potenza nominale media [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" id="potenza_media_Caldaia" ng-model="moduloepi.datiedificio.potenza_media_Caldaia" required>
										</div>
										
									</div>
								</div>
								
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column">															
											<label for="tipodistribuzione_C">Tipologia di distribuzione</label>
											<select name="tipodistribuzione_C" ng-model="tipodistribuzione_C.selectedOption" class="form-control" ng-options="option.name for option in tipodistribuzione_C.availableOptions track by option.id"></select>
										</div>
										
										<div class="col-md-4 column">
												<label for="eta_C">Rendimento globale &eta;<sub>gC</sub> </label>												
												<input type="number" step="any" class="form-control" id="eta_C" placeholder="{{ moduloepi.datiedificio.etagn_caldaia*moduloepi.datiedificio.etae_caldaia*moduloepi.datiedificio.etarg_caldaia*moduloepi.datiedificio.etad_caldaia}}" readonly>
										</div>
										
										<div class="col-md-4 column">
												<label for="etagn_caldaia">Rendimento generazione &eta;<sub>genC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" id="etagn_caldaia" ng-model="moduloepi.datiedificio.etagn_caldaia" required>
										</div>
										
									</div>
								</div>
								
								
								<div class="col-md-12">
											<div class="row clearfix">
																<div class="col-md-4 column">
																	<label for="etae_caldaia">Rendimento emissione &eta;<sub>eC</sub></label>												
																	<input type="number" min="0" step="any"  class="form-control" id="etae_caldaia" ng-model="moduloepi.datiedificio.etae_caldaia" required>
																</div>
																<div class="col-md-4 column">															
																	<label for="etarg_caldaia">Rendimento regolazione &eta;<sub>rC</sub></label>											
																	<input type="number" min="0" step="any"  class="form-control" id="etarg_caldaia" ng-model="moduloepi.datiedificio.etarg_caldaia" required>															
																</div>
																<div class="col-md-4 column">
																	<label for="etad_caldaia">Rendimento distribuzione &eta;<sub>dC</sub></label>											
																	<input type="number" min="0" step="any"  class="form-control" id="etad_caldaia" ng-model="moduloepi.datiedificio.etad_caldaia" required>
																</div>
											</div>
								</div>
								
								
										
								
							</div>
							<div class="row clearfix"></div>	
							<br><br>
							
							<div class="col-md-12">
								<legend class="righter sublegendmenu">Pompe di Calore</legend>
								
								<div class="col-md-12">
									<div class="row clearfix">
										<div class="col-md-4 column">															
											<label for="quotaPdC">Quota copertura fabbisogno PdC [%]</label>												
											<input type="number" min="0" step="any" class="form-control" id="quotaPdC" ng-model="moduloepi.datiedificio.quotaPdC" required>
										</div>
										
										<div class="col-md-4 column">															
											<label for="potenza_PdC">Potenza nominale complessiva [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" id="potenza_PdC" ng-model="moduloepi.datiedificio.potenza_PdC" required>
										</div>
										
										<div class="col-md-4 column">															
											<label for="potenza_media_PdC">Potenza nominale media [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" id="potenza_media_PdC" ng-model="moduloepi.datiedificio.potenza_media_PdC" required>
										</div>
										
									</div>
								</div>
								
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column">															
											<label for="tipodistribuzione_PdC" >Tipologia di distribuzione</label>
											<select name="tipodistribuzione_PdC" ng-model="tipodistribuzione_PdC.selectedOption" class="form-control" ng-options="option.name for option in tipodistribuzione_PdC.availableOptions track by option.id"></select>											
										</div>
										
										<div class="col-md-4 column">															
											<label for="tiposcambio_PdC" >Tipologia di scambio</label>
											<select name="tiposcambio_PdC" ng-model="tiposcambio_PdC.selectedOption" class="form-control" ng-options="option.name for option in tiposcambio_PdC.availableOptions track by option.id"></select>											
										</div>
										
										<div class="col-md-4 column">
											<label for="eta_PdC">Performance globale &eta;<sub>gPdC</sub></label>												
											<input type="number" min="0" step="any"  class="form-control" id="eta_PdC" placeholder="{{ moduloepi.datiedificio.etae_PdC*moduloepi.datiedificio.etarg_PdC*moduloepi.datiedificio.etad_PdC*moduloepi.datiedificio.etagn_PdC}}" readonly>
										 </div>	
										
									</div>
								</div>
								
								<div class="col-md-12">
										<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="etae_PdC">Rendimento emissione &eta;<sub>ePdC</sub></label>												
																	<input type="number" min="0" step="any"  class="form-control" id="etae_PdC" ng-model="moduloepi.datiedificio.etae_PdC" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="etarg_PdC">Rendimento regolazione &eta;<sub>rPdC</sub></label>											
																	<input type="number" min="0" step="any"  class="form-control" id="etarg_PdC" ng-model="moduloepi.datiedificio.etarg_PdC" required>															
																</div>
																<div class="col-md-4 column">
																	<label for="etad_PdC">Rendimento distribuzione &eta;<sub>dPdC</sub></label>											
																	<input type="number" min="0" step="any"  class="form-control" id="etad_PdC" ng-model="moduloepi.datiedificio.etad_PdC" required>
																</div>																																
														</div>
								</div>
								<div class="col-md-12">
										<div class="row clearfix">																
																<div class="col-md-4 column">
																	<label for="etagn_PdC">Rendimento generazione &eta;<sub>genPdC</sub></label>											
																	<input type="number" min="0" step="any"  class="form-control" id="etagn_PdC" ng-model="moduloepi.datiedificio.etagn_PdC" required>
																</div>																	
														</div>
								</div>
								
							</div>
							<div class="row clearfix"></div>	
							<br><br>
							
							
							<img src="styles/images/summer.png " style="width: 100px;"><legend class="righter sublegendmenu">IMPIANTI DI RAFFRESCAMENTO</legend>
							<div class="col-md-12">
								<legend class="righter sublegendmenu"> Pompe di Calore/Gruppo Frigo</legend>
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column">															
											<label for="potenza_Climatizzazione">Potenza nominale complessiva [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" id="potenza_Climatizzazione" ng-model="moduloepi.datiedificio.potenza_Climatizzazione" required>
										</div>
										
										<div class="col-md-4 column">															
											<label for="potenza_media_Climatizzazione">Potenza nominale media [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" id="potenza_media_Climatizzazione" ng-model="moduloepi.datiedificio.potenza_media_Climatizzazione" required>
										</div>
										
										<div class="col-md-4 column">															
											<label for="tipodistribuzione_estivo" >Tipologia di distribuzione</label>
											<select name="tipodistribuzione_estivo" ng-model="tipodistribuzione_estivo.selectedOption" class="form-control" ng-options="option.name for option in tipodistribuzione_estivo.availableOptions track by option.id"></select>
											
										</div>
										
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column">															
											<label for="tiposcambio_estivo" >Tipologia di scambio</label>
											<select name="tiposcambio_estivo" ng-model="tiposcambio_estivo.selectedOption" class="form-control" ng-options="option.name for option in tiposcambio_estivo.availableOptions track by option.id"></select>
											
										</div>
										
										 <div class="col-md-4 column">
											<label for="eta_estivo">Performance globale &eta;<sub>gPdC</sub></label>												
											<input type="number" min="0" step="any"  class="form-control" id="eta_estivo" placeholder="{{moduloepi.datiedificio.etae_estivo*moduloepi.datiedificio.etarg_estivo*moduloepi.datiedificio.etad_estivo*moduloepi.datiedificio.etagn_estivo}}" readonly>
										 </div>	
										
										<div class="col-md-4 column">
												<label for="etae_estivo">Rendimento emissione &eta;<sub>ePdC</sub></label>												
												<input type="number" min="0" step="any"  class="form-control" id="etae_estivo" ng-model="moduloepi.datiedificio.etae_estivo" required>
										</div>
										
									
										
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										
										<div class="col-md-4 column">															
												<label for="etarg_estivo">Rendimento regolazione &eta;<sub>rPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" id="etarg_estivo" ng-model="moduloepi.datiedificio.etarg_estivo" required>															
										</div>
										
										<div class="col-md-4 column">
												<label for="etad_estivo">Rendimento distribuzione &eta;<sub>dPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" id="etad_estivo" ng-model="moduloepi.datiedificio.etad_estivo" required>
										</div>	
																
										<div class="col-md-4 column">
												<label for="etagn_estivo">Rendimento generazione &eta;<sub>genPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" id="etagn_estivo" ng-model="moduloepi.datiedificio.etagn_estivo" required>
										</div>
									
										
									</div>
								</div>

								
							</div>
									<div class="row clearfix"></div>	
									<br><br>
									
									<div class="col-md-4 col-md-offset-4 column">
										<center><button type="button" ng-click="calcolaEtag();" class="span5 btn btn-large btn-primary" style="width: 100%;">Calcola i Rendimenti di Benchmark</button></center>
									</div>
									
									<div class="row clearfix"></div>	
									<br><br>
																		

									<img src="styles/images/viewing.png " style="width: 100px;"><legend class="righter sublegendmenu">BENCHMARKS</legend>
									
											<div class="col-md-12">
														<div class="row clearfix">																
																
																
																<div class="col-md-3 column">
																	<label for="ricambio_aria_est">Ricambi orari aria estivi(n)</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="ricambio_aria_est" ng-model="moduloepi.datiedificio.ricambio_aria_est" required>
																</div>
																
																<div class="col-md-3 column">
																	<label for="ricambioariaEstate_bench">Ricambi orari aria estivi (n_bench)</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="ricambioariaEstate_bench" ng-model="datigenerali.ricambioariaEstate_bench" readonly>
																</div>	
																 
																<div class="col-md-3 column">
																	<label for="ricambio_aria">Ricambi orari aria invernali (n)</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="ricambio_aria" ng-model="moduloepi.datiedificio.ricambio_aria" required>
																</div>
																 
																<div class="col-md-3 column">															
																	<label for="ricambioariaInverno_bench">Ricambi orari aria invernali (n_bench)</label>												
																	<input type="number" min="0" step="any"  class="form-control" id="ricambioariaInverno_bench" ng-model="datigenerali.ricambioariaInverno_bench" readonly>
																</div>

														</div>
														<div class="row clearfix">																
																																
																<div class="col-md-3 column">
																	<label for="apporto_interno_est">Fattore apporto int gratuito estivo</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="apporto_interno_est" ng-model="moduloepi.datiedificio.apporto_interno_est" required>
																</div>
																																 
																<div class="col-md-3 column">
																	<label for="apporto_interno">Fattore apporto int gratuito invernale</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="apporto_interno" ng-model="moduloepi.datiedificio.apporto_interno" required>
																</div>

														</div>
											</div>
											
											<div class="row clearfix"></div>	
											<br><br>
											
											<div class="col-md-12">
											<legend class="righter sublegendmenu"> Rendimenti Benchmark Caldaie</legend>
											
											<div class="col-md-12">
												<div class="row clearfix">
												
													<div class="col-md-4 column">
														<label for="eta_bench_C">Rendimento globale</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_C" placeholder="{{ moduloepi.datiedificio.eta_bench_C | number: 3 }}" required readonly>
													</div>
													
													
													<div class="col-md-4 column">
														<label for="eta_bench_genC">Rendimento di generazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_genC" placeholder="{{ eta_g_caldaia | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_derC">Rendimento di distribuzione-emissione-regolazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_derC" placeholder="{{ eta_deri_caldaia | number: 3 }}" readonly>
													 </div>
													
												</div>
											</div>
											
									<div class="row clearfix"></div>	
									<br><br>
									
									
									
									<legend class="righter sublegendmenu"> Rendimenti Benchmark PdC</legend>
											
											<div class="col-md-12">
												<div class="row clearfix">
												
													<div class="col-md-4 column">
														<label for="eta_bench_PdC">Performance globale</sub></label>												
														<input type="number" min="0" step="any"  class="form-control" id="eta_bench_PdC" placeholder="{{ moduloepi.datiedificio.eta_bench_PdC | number: 3 }}" required readonly>
													</div>
													
													
													<div class="col-md-4 column">
														<label for="eta_bench_genPdC">Performance di generazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_genPdC" placeholder="{{ eta_g_pdc | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_derPdC">Rendimento di distribuzione-emissione-regolazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_derPdC" placeholder="{{ eta_deri_pdc | number: 3 }}" readonly>
													 </div>
													
												</div>
											</div>
											
									<div class="row clearfix"></div>	
									<br><br>
									
									<legend class="righter sublegendmenu"> Rendimenti Benchmark PdC/Gruppo Frigo</legend>
											
											<div class="col-md-12">
												<div class="row clearfix">
												
													<div class="col-md-4 column">
														<label for="eta_bench_estivo">Performance globale</sub></label>												
														<input type="number" min="0" step="any"  class="form-control" id="eta_bench_estivo" placeholder="{{ moduloepi.datiedificio.eta_bench_estivo | number: 3 }}"  required readonly>
													</div>
													
													
													<div class="col-md-4 column">
														<label for="eta_bench_genEstivo">Performance di generazione</label>												
														<input type="number" step="any" class="form-control" placeholder="{{ eta_bench_genEstivo | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_derEstivo">Rendimento di distribuzione-emissione-regolazione</label>												
														<input type="number" step="any" class="form-control" placeholder="{{ eta_bench_derEstivo | number: 3 }}" readonly>
													 </div>
													
												</div>
											</div>
											
									<div class="row clearfix"></div>	
									<br><br>
									
									
									
									<div class="col-md-12 column">
											<center><button type="submit" class="span5 btn btn-md btn-success">Salva modifiche</button></center>																		
									</div>
												
					</form>	
            </div>			
</div>
