<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Manutenzione Straordinaria</h1>
</div>

<div class="wrapper">
	<div class="row">		
	  <div class="col-md-9"> 
			<div scenarios-chart ></div>
	  </div>
	  
	  <div class="col-md-3">
			<div settings-single-selection></div>			
	  </div>
	</div>
	
	<div class="row">
	  
	</div>
	
</div>
<br>
