<div class="panel panel-default bg-auto"> 

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Impianti </h4>              
            </div>  

			<div class="panel-body">                       

					<div id="tabs" ng-show="building.codice">

									<div class="row row-centered bg-auto">
									  									
									  <div class="col-md-offset-3 col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/impianti/riscaldamento.html'&& 'active' || '' }}" ng-click="onClickTab('directives/impianti/riscaldamento.html')" style="width: 100%;"><img src="styles/images/winter.png" style="width: 40%"><br><small>Riscaldamento</small></button></div>
									  <div class="col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/impianti/raffrescamento.html' && 'active' || '' }}" ng-click="onClickTab('directives/impianti/raffrescamento.html')" style="width: 100%;"><img src="styles/images/summer.png" style="width: 40%"><br><small>Raffrescamento</small></button></div>					  					  
									  <div class="col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/impianti/illuminazione.html' && 'active' || ''  }}" ng-click="onClickTab('directives/impianti/illuminazione.html')" style="width: 100%;"><img src="styles/images/bright.png" style="width: 40%"><br><small>Illuminazione</small></button></div>					 																																  
									
									</div>	
							
							<div id="mainView">
								<div ng-include="currentTab"></div>
							</div>		

						
					</div>
					
			</div>
</div>
