<div class="panel panel-default bg-auto">   
			<br>
            <div class="panel-body">      

					<form class="form-horizontal" role="form" id="form-epi" ng-submit="onSubmit()">
					
							<img src="styles/images/winter.png " style="width: 100px;"><legend class="righter sublegendmenu">IMPIANTI DI RISCALDAMENTO</legend>
							
							<div class="col-md-12">
							
							
							
										<p class="text-muted">
										Impianti Selezionati: <span class="badge" ng-bind="models.selectedPlants.length"></span></p>

									  <!-- ========== Usage ========== -->
									  <ad-table-lite table-name="impiantiRiscaldamento"													 
													 column-definition="impiantiTableColumnDefinition"
													 local-data-source="models.impiantiRiscaldamento"													 													 
													 table-classes="table table-bordered"													 
													 selected-items="models.selectedPlants"
													 snug-sort-icons="true"													 
													 state="models.state"
													 row-expand-template="directives/impianti/plantsMoreInfo.html"
													 row-expand-callback="rowExpanded">
									  </ad-table-lite>
										
								
							</div>
							<div class="row clearfix"></div>	
							<br><br>

												
					</form>	
            </div>			
</div>
