<div class="panel panel-default bg-auto"> 

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Anagrafica immobile</h4>              
            </div>  

			<div class="panel-body">                       
				<form class="form-horizontal" role="form" id="form-anagrafica" ng-submit="onSubmit()">	
				
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="idImmobile">ID Immobile </label>												
																	<input id="idImmobile" type="number" min="0" step="any" class="form-control" ng-model="selectedbuilding.idImmobile" required readonly>
																 </div>
																<div class="col-md-4 column">															
																	<label for="pod">POD </label>											
																	<input type="text"  class="form-control" id="pod" ng-model="selectedbuilding.pod" required readonly>															
																</div>
																<div class="col-md-4 column">
																	<label for="codice">Codice </label>											
																	<input type="text" class="form-control" id="codice" ng-model="selectedbuilding.codice" required readonly>
																</div>																													
														</div>
													</div>	
													
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="denominazione">Denominazione </label>												
																	<input id="denominazione" type="text" class="form-control" ng-model="selectedbuilding.denominazione" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="indirizzoPod">Indirizzo POD </label>											
																	<input type="text"  class="form-control" id="indirizzoPod" ng-model="selectedbuilding.indirizzoPod" required>															
																</div>
																<div class="col-md-4 column">
																	<label for="indirizzo">Indirizzo </label>											
																	<input type="text" class="form-control" id="codice" ng-model="selectedbuilding.indirizzo" required>
																</div>																													
														</div>
													</div>
													
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="nome">Comune </label>												
																	<input id="nome" type="text" class="form-control" ng-model="selectedbuilding.nome" required readonly>
																 </div>
																<div class="col-md-4 column">															
																	<label for="siglaprov">Provincia</label>											
																	<input type="text"  class="form-control" id="siglaprov" ng-model="selectedbuilding.siglaprov" required readonly>															
																</div>
																<div class="col-md-4 column">
																	<label for="zona">Zona Climatica </label>											
																	<input type="text" class="form-control" id="zona" ng-model="selectedbuilding.zona" required readonly>
																</div>																													
														</div>
													</div>
													
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="latitudine">Latitudine </label>												
																	<input id="latitudine" type="text" class="form-control" ng-model="selectedbuilding.latitudine" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="longitudine">Longitudine</label>											
																	<input type="text"  class="form-control" id="longitudine" ng-model="selectedbuilding.longitudine" required>															
																</div>
																<div class="col-md-4 column">
																	<label for="destinazioneDuso">Destinazione d'uso </label>											
																	<input type="text" class="form-control" id="destinazioneDuso" ng-model="selectedbuilding.destinazioneDuso" required>
																</div>																													
														</div>
													</div>
													
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="areaImmobiliare">Area immobiliare </label>												
																	<input id="areaImmobiliare" type="text" class="form-control" ng-model="selectedbuilding.areaImmobiliare" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="potenzaInstallata">Potenza Installata</label>											
																	<input type="text"  class="form-control" id="potenzaInstallata" ng-model="selectedbuilding.potenzaInstallata" required>															
																</div>
																<div class="col-md-4 column">
																	<label for="tipologiaFornitura">Tipologia Fornitura </label>											
																	<input type="text" class="form-control" id="tipologiaFornitura" ng-model="selectedbuilding.tipologiaFornitura" required>
																</div>																													
														</div>
													</div>
													
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="frazionario">Frazionario </label>												
																	<input id="frazionario" type="text" class="form-control" ng-model="selectedbuilding.frazionario" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="classificazione">Classificazione</label>											
																	<input type="text"  class="form-control" id="classificazione" ng-model="selectedbuilding.classificazione" required>															
																</div>
																<div class="col-md-4 column">
																	<label for="tipoTurno">Tipo Turno </label>											
																	<input type="text" class="form-control" id="tipoTurno" ng-model="selectedbuilding.tipoTurno" required>
																</div>																													
														</div>
													</div>
													
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="funzioniBusiness">Funzioni Business </label>												
																	<input id="funzioniBusiness" type="text" class="form-control" ng-model="selectedbuilding.funzioniBusiness" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="clusterEnergy">Cluster Energy</label>											
																	<input type="text"  class="form-control" id="clusterEnergy" ng-model="selectedbuilding.clusterEnergy" required readonly>															
																</div>
																<div class="col-md-4 column">
																	<label for="occupazioneImmobile">Occupazione Immobile </label>											
																	<input type="text" class="form-control" id="occupazioneImmobile" ng-model="selectedbuilding.occupazioneImmobile" required>
																</div>																													
														</div>
													</div>
													
													<div class="row clearfix"></div>		
													<br><br>													
													<div class="col-md-12 column">
																		<center><button type="submit" class="span5 btn btn-md btn-success">Salva cambiamenti</button></center>																		
													</div>
																							
				</form>
			</div>
				
</div>
