<div class="bg-light lter b-b wrapper-md">

	<div class="row">
	
		<div class="col-md-6">
			<h1 class="m-n font-thin h3">Dati di Campo </h1>
		</div>
	
		<div class="col-md-6" align="right">
			<a href="http://10.242.67.11/CREEM/trend.php?edif={{ selected_building.idImmobile }}"  target="_blank" class="btn btn-info" role="button">Apri dati di campo immobile {{ selected_building.codice }}</a>
		</div>
	</div>
	
</div>

<div class="wrapper">

	<div class="row">
				
				<div class="col-md-9">
					<div building-info></div>
				</div>
				
				<div class="col-md-3">
					<div settings-building-selection></div>
				</div>
				

	</div>
	
	<div class="row">
			<div class="col-md-12">
					<div sensori-chart ></div>
					
			</div>		
	</div>
	
	<div class="row">
			<div class="col-md-12">
					<div energy-chart ></div>
					
			</div>		
	</div>
</div>
