<div class="panel panel-default"> 

		<div class="panel-body">                       
					<div style="background:url(styles/images/greenbuilding.jpg) center center; background-size:cover">
					  <div class="wrapper-xs bg-white-opacity">
						<div class="row m-t">

						  <div class="col-sm-6">
							<a href="" class="thumb-lg pull-left m-r">
							  <img src="styles/images/building.png" class="img-circle">
							</a>
							
							<div class="clear m-b">
							  <div class="m-b m-t-sm">
								<span class="h3 text-black">{{budgetclass}}</span>																
							  </div>
							  <p class="m-b">
								<span class="h5 text-black">Consumi totali stimati: <strong>{{CONSUMPTIONS_SUM[11] | number: 2}} MW</strong></span>														
							  </p>
							  <p class="m-b">
								<span class="h5 text-black">Budget annuale complessivo: <strong>{{BUDGET_SUM[11] | number: 2}} MW</strong> </span>														
							  </p>
							  <p class="m-b">
								<h3><span ng-show="stimaBudget < 0" class="label label-lg label-success label-rounded">Stima risparmio consumi: <strong>{{(-1)*stimaBudget}}%</strong> </span></h3>
								<h3><span ng-show="stimaBudget > 0" class="label label-lg label-danger label-rounded">Stima superamento consumi: <strong>{{stimaBudget}}%</strong> </span></h3>						
							  </p>
							  	
							  
							</div>
							
						
						  </div>
						  <div class="col-sm-6">
								
								  
										<div id="gaugeBudget" style="height: 200px; "></div>								

								
						  </div>
						</div>
					  </div>
					</div>
         </div>
	
		
</div>
