<div class="panel panel-default">     
            <div class="panel-body">                       
						<div id="budgetchart" style="width:100%; height:400px;"></div>					
            </div>         
</div>

