<div class="panel panel-default">     
            <div class="panel-body"> 
			
				<div class="row clearfix">
																														
						<div class="col-md-3 col-md-offset-2 column">															
									<label class="control-label"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i> Intervallo di osservazione</label><br>     
									<input id="date_range" type="daterange" class="form-control" ranges="ranges" ng-model="selected_dates" >
						</div>
														
						<div class="col-md-2 column">															
									
										<label class="control-label"><i class="glyphicon glyphicon-th fa fa-calendar"></i> Cluster</label><br>     
										<select name="clusters_list" class="form-control m-b" ng_model="selected_cluster">
											  <option value="ALL">ALL</option>
											  <option value="LAYOUT">LAYOUT</option>
											  <option value="TRADIZIONALE">TRADIZIONALE</option>											  
											  <option value="DIR">DIR</option>											  
											  <option value="CMP">CMP</option>
											  <option value="IND">IND</option>
											</select>
						</div>
						
						<div class="col-md-2 column">																				
							<label class="control-label"><i class="glyphicon glyphicon-th fa fa-calendar"></i> Superficie Utile</label><br>     
							<select name="sup_list" class="form-control m-b" ng_model="selected_superficieDss">
							  <option value="ALL">ALL</option>			 
							  <option value="100"><=100 m&sup2;</option>
							  <option value="300">100/300 m&sup2;</option>
							  <option value="600">300/600 m&sup2;</option>											  
							  <option value="1500">600/1500 m&sup2;</option>	
							  <option value="+1500">>1500 m&sup2;</option>											  
							</select>
						</div>
						
						<div class="col-md-2 column">	
							<br>
							<button type="submit" ng-click="onClickUpdate()" class="btn btn-md btn-primary" style="margin-top: 3px;" >Aggiorna</button>
						</div>
																																											
				</div>
			
				<br>
				<div class="row clearfix">
							
							<div id="kpichart" style="width:100%; height:800px;"></div>					
				</div>
            </div>         
</div>