<div class="panel panel-default">    
			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">KPI anno precedente</h4>              
            </div>
            <div class="panel-body"> 
			
			<div class="row" align="left">	
				<div class="col-sm-4 col-xs-4 col-md-4">
					<div id="polar_potenzapicco" style="height: 300px; margin: 0 auto"></div>
					
					
					
					
				</div>			
				<div class="col-sm-4 col-xs-4 col-md-4">				
					<div id="polar_consumomedio" style="height: 300px; margin: 0 auto;"></div>
					
					
					
				</div>				
			</div>
			
			
			
											
						
						
            </div>
			<footer class="panel-footer text-center bg-light lter">  </footer>			
</div>

