<table ng-table-dynamic="tableParams with cols" show-filter="true" class="table table-condensed table-bordered">
		  <tr ng-repeat="row in $data track by row.idAllert " ng-class="{ 'danger': row.super > 100 }">
			<td ng-repeat="col in $columns">{{row[col.field]}}</td>
		  </tr>
</table>
