<table ng-table-dynamic="tableManutenzione with cols" show-filter="true" class="table table-condensed table-bordered">
		  <tr ng-repeat="row in $data track by row.idData ">
			<td ng-repeat="col in $columns" ><a data-toggle="tooltip"  title="{{row[col.tooltip]}}">{{row[col.field]}}</a></td> 
		  </tr>
</table>

