<div class="panel panel-default">     
            <div class="panel-body">
						<div id="profileschart_monfri" style="width:100%; height:300px;"></div>					
						<br>
						<div id="profileschart_saturday" style="width:100%; height:300px;"></div>
						<br>
						<div id="profileschart_holiday" style="width:100%; height:300px;"></div>
            </div>			          
</div>

