 
<div class="panel panel-default">    

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Seleziona Immobile/i</h4>              
            </div>
			
            <div class="panel-body">
			
			<div id="tabs">
				
				<ul class="nav nav-tabs">
					<li ng-model="building_tab" ng-class="{active:isActiveTab(building_tab.name)}" ng-click="onClickTab(building_tab)"><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
					<li ng-model="cluster_tab"  ng-class="{active:isActiveTab(cluster_tab.name)}"ng-click="onClickTab(cluster_tab)"><a href=""><i class="glyphicon glyphicon-th"></i></a></li>
					<li ng-model="city_tab" ng-class="{active:isActiveTab(city_tab.name)}" ng-click="onClickTab(city_tab)"><a href=""><i class="glyphicon glyphicon-globe"></i></a></li>
				  </ul>
				  
				<div id="mainView">
					<div ng-show="isActiveTab(building_tab.name)" id="viewOne">
						  <h4>  Immobile </h4>
						  <div building-selection></div>
						  <br>					  
					</div>
					
					<div ng-show="isActiveTab(cluster_tab.name)" id="viewTwo">
						<h4>  Cluster </h4>
						<select name="clusters_list" class="form-control m-b" ng_model="selected_cluster">
							  <option value="LAYOUT">LAYOUT</option>
							  <option value="TRADIZIONALE">TRADIZIONALE</option>
							  <option value="ITALPOSTE">ITALPOSTE</option>
							  <option value="DIR">DIR</option>
							  <option value="IND">IND</option>
							  <option value="CMP">CMP</option>
							</select>
					</div>
					
					<div ng-show="isActiveTab(city_tab.name)" id="viewThree">
						<h4>Provincia</h4>
						  <select name="cities_list" class="form-control m-b" ng_model="selected_city">
							  <option value="AG">Agrigento</option>
							  <option value="CL">Caltanissetta</option>
							  <option value="CT">Catania</option>
							  <option value="EN">Enna</option>
							  <option value="ME">Messina</option>
							  <option value="PA">Palermo</option>
							  <option value="RG">Ragusa</option>
							  <option value="SR">Siracusa</option>
							  <option value="TP">Trapani</option>
							  
							</select>
					</div>
				</div>
			</div>

										 
			</div>
			<footer class="panel-footer text-center bg-light lter">
				<button type="submit" ng-click="onClickUpdate()" class="btn btn-md btn-primary">Aggiorna selezione</button>
            </footer>

</div>