<table ng-table-dynamic="tableticket with colsfields" show-filter="true" class="table table-condensed table-bordered">
		  <tr ng-repeat="row in $data track by row.idIntervento " >  <!-- ng-class="{ 'danger': row.kgCO2Risparmiati < 200 }"> -->
			<td ng-repeat="col in $columns">{{row[col.field]}}</td>
		  </tr>
</table>