<div class="modal-dialog">
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>

		<div class="col-md-12">
			 <div class="row clearfix">
				<div class="col-md-4 column">
					<label for="superficielorda">Building Manager</label>												
				</div>
				<div class="col-md-8 column">
					<label for="superficielorda">{{modalOptions.responsabile}}</label>												
				</div>
			 </div>
		</div>
		<div class="col-md-12">
			 <div class="row clearfix">
				<div class="col-md-4 column">
					<label for="superficielorda">Utente</label>												
				</div>
				<div class="col-md-8 column">
					<label for="superficielorda">{{modalOptions.utenteInserimento}}</label>												
				</div>
			 </div>
		</div>
		<div class="col-md-12">
			 <div class="row clearfix">
				<div class="col-md-4 column">
					<label for="superficielorda">Immobile</label>												
				</div>
				<div class="col-md-8 column">
					<label for="superficielorda">{{modalOptions.immobile}}</label>												
				</div>
			 </div>
		</div>
		<div class="col-md-12">
			 <div class="row clearfix">
				<div class="col-md-4 column">
					<label for="superficielorda">Descrizione Intervento</label>												
				</div>
				<div class="col-md-8 column">
					<label for="superficielorda">{{modalOptions.descrizione}}</label>												
				</div>
			 </div>
		</div>
		<div class="col-md-12">
			 <div class="row clearfix">
				<div class="col-md-4 column">
					<label for="superficielorda">Data Inizio Intervento</label>												
				</div>
				<div class="col-md-8 column">
					<label for="superficielorda">{{modalOptions.dataInizioIntervento}}</label>												
				</div>
			 </div>
		</div>
		<div class="col-md-12">
			 <div class="row clearfix">
				<div class="col-md-4 column">
					<label for="superficielorda">Data Limite</label>												
				</div>
				<div class="col-md-8 column">
					<label for="superficielorda">{{modalOptions.dataLimite}}</label>												
				</div>
			 </div>
		</div>
		<div class="col-md-12">
			 <div class="row clearfix">
				<div class="col-md-4 column">
					<label for="superficielorda">Durata </label>												
				</div>
				<div class="col-md-8 column">
					<label for="superficielorda">{{modalOptions.durata}} gg.</label>												
				</div>
			 </div>
		</div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>