<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Budget Energetico</h1>
</div>

<div class="wrapper">
			<div class="row">
				
				<div class="col-md-9">
					<div budget-info ></div>
				</div>
				
				<div class="col-md-3">
					<div settings-single-selection></div>			
				</div>
				
			</div>
			
			<div class="row">
				
				<div class="col-md-9">
					<div budget-chart ></div>
				</div>
				
				<div class="col-md-3">
					<div class="panel panel-default">    
						<div class="panel-heading">
						  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Alert Budget</h4>              
						</div>
						<div class="panel-body">
							<div alert-list alerttype="budget"></div>						 
						</div>

					</div>					
				</div>
				
			</div>
			
			
	</div>
	<br>
