<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><span>Import</span></h1>
</div>

<div class="panel panel-default bg-auto">
    <div class="panel-body">

    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading"><span>Import {{uploadType.name}}</span></div>
            <div class="panel-body">
                <div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></span>
					<span class="input-group-btn">
                        <select style="width: auto"
                                ng-change="uploadTypeChange()"
                                class="form-control"
                                ng-options="option.name for option in uploadTypes"
                                ng-model="uploadType">
                        </select>
                    </span>
                    <input type="file" nv-file-select uploader="uploader" class="form-control" placeholder="Consumnni file" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th width="50%">Name</th>
            <th ng-show="uploader.isHTML5">Size</th>
            <th ng-show="uploader.isHTML5">Progress</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>